
body {
	/*background: #430510 /*linear-gradient(to right, #210204 1%,#3a040e 21%,#3a040e 21%,#430510 100%)*/ ;*/
	font-family: 'Imprima', sans-serif;
	color: rgb(249, 208, 225);
	color: rgba(249, 208, 225, 0.98);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#230608+0,770309+100 */
background: rgb(35,6,8); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMDYwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NzAzMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(35,6,8,1) 0%, rgba(119,3,9,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(35,6,8,1) 0%,rgba(119,3,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(35,6,8,1) 0%,rgba(119,3,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#230608', endColorstr='#770309',GradientType=1 ); /* IE6-8 */
}
.glow {
	color: rgb(192, 195, 195);
	color: rgba(192, 195, 195, 0.93);
	text-shadow: 0 0 30px rgba(247, 211, 197, 0.83);
}
.glow:hover {
	color: rgb(192, 195, 195);
	color: rgba(192, 195, 195, 0.93);
	text-shadow: 0 0 60px rgba(247, 211, 197, 0.93), 0 0 70px rgba(247, 211, 197, 0.43);
}
.button {
	margin-top: 2em;
}
.kleur {
	min-height: 3em;
}
.kleur-2 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#770309+0,230608+100 */
background: rgb(119,3,9); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3MDMwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzA2MDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(119,3,9,1) 0%, rgba(35,6,8,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(119,3,9,1) 0%,rgba(35,6,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(119,3,9,1) 0%,rgba(35,6,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#770309', endColorstr='#230608',GradientType=1 ); /* IE6-8 */
}
.groter {
	font-size: 3em;
	font-weight: lighter;
	margin-bottom: 0.2em;
	margin-top: 0;
}
.groot {
	margin-top: 1em;
	margin-left: 1.4%;
	font-size: 5em;
	font-weight: lighter;
}
.regenboog-onder {
	margin-top: 25em;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fotografie-1 {
	background-image: url("../img/heartily.png");
	background-position: center center;
	background-attachment: local;
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
}
@media(max-width: 768px){
	.button{
		font-size: 4px;
	}
	.logo-subtitle{
		font-size: 6px;
	}
	.groter{
		font-size: 0;
	}
	.regenboog-onder{
			margin-top: 8em;
	}
	.footer{
		font-size: 10px;
	}
}
@media (min-width: 768px) and (orientation:landscape){
	.groot{
		font-size:12em;
	}
}
@media (min-width: 768px) and (orientation:landscape){
	.groot{
		font-size:13.3em;
	}
}
@media (min-width: 1200px){
	.groot{
		font-size:17em;
	}
	.fotografie-1{
		background-attachment: fixed;
	}
}
.zonnetje-in-huis {
	margin-top: 6em;
}
.Healing-Coaching-banner {
	margin-top: 0;
}
.subtitle{
	padding-top: 2em;
	padding-right: 5%;
}
.Coaching-Reading-Healing-aanbod {
	margin-top: 8em;
}
.Inspiratie {
	margin-top: 5em;
	margin-left: 15%;
	margin-right: 15%;
}
.onderstelijn {
	margin-top: 2em;
}
.zonnetje {
	margin-top: 80%;
}
.genegenheid-voor-jezelf {
	margin-top: 2em;
	margin-bottom: 10em;
}
.text-vertical{
	transform: rotate(90deg);
	transform-origin: left 100px;
}
.view {
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   padding-right:0;
   padding-left:0;
  }
/*.frame{
 border: 1px solid black;
}*/
.view .mask, .view .content .info {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   /*background:url(../img/link.png) center no-repeat;*/
   display: inline-block;
   text-decoration: none;
   /*text-indent:-9999px;*/
   /*width:10px;*/
   height:0;
}
.effect .mask {
   opacity: 0;
   overflow: visible;
   border:0 solid rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}
.effect a.info {
   position:relative;
   top:-10%;
   opacity:0;
   transform:scale(0,0);
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.effect:hover .mask {
   opacity: 1;
   border:150px solid rgb(0,0,0);
    border:150px solid rgba(0,0,0,0.7);
}
.effect:hover a.info {
   opacity:1;
   color: inherit;
   transform:scale(0.9);
   transition-delay:0.5s;
}
@media (min-width: 768px) and (orientation:landscape){
  .effect:hover .mask {
   opacity: 1;
   border:118px solid rgb(0,0,0);
   border:118px solid rgba(0,0,0,0.8);
	}
}
@media (min-width: 992px) {
  	.effect:hover .mask {
   opacity: 1;
   border:118px solid rgb(0,0,0);
   border:118px solid rgba(0,0,0,0.8);
	}
	.effect:hover a.info {
   opacity:1;
   transition-delay:0.4s;
	}
}
@media(min-width: 1550px){
	
}
.statement{
	padding-right: 3%;
}
.footer {
	background-color: rgb(35, 2, 2);
	background-color: rgba(4, 0, 0, 0.56);
}
.social-media {
	margin-top: 2em;
}
.metliefde{
	margin-top: 10em;
}
.hartelijk {
	margin-top: 1em;
	padding-left: 4%;
}
.hartje {
	margin-left: -1.3%;
	margin-right: -6.3%;
}
svg {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.heart {
	animation: 3s heartbeat infinite alternate;
	transform-origin: 50% 50%;
}
@keyframes heartbeat {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.8);
	}
}
.copyright {
	margin-top: 2em;
	margin-bottom: 8em;
}
@media(max-width: 768px) and (orientation:landscape){
	.button{
		font-size: 8px;
	}
	.groot{
		font-size: 8em;
	}
	.logo-subtitle{
		font-size: 10px;
	}
	.footer{
		font-size: 8px;
	}
}
